/*-- scss:defaults --*/
// Base document colors
$link-color: #255b92;

// Code blocks
$code-block-bg-alpha: -.8;

$callout-color-note: #922592;

// Logo size
.navbar-logo {
  min-height: 80px;
}

// Adjusting dashboard display

// CARDS
.quarto-card {
          padding: 0;
        }
        
.card {
  // Remove grey border around all cards
    border: 0 !important;
}

// Card title background colour
.card-header {
  font-weight: bold;
  color: #922592 !important;
  background-color: white !important;
  border: 0 !important;
}

// remove padding on body
.card-body {
  padding-top: 0!important;
  padding-bottom: 0!important;
}
        
// TABSETS
.panel-tabset .nav-item {
  font-size: 16px;
  border: none !important;
}

// VALUE BOXES
.valuebox .value-box-value {
  font-size: 20px !important;
  color: #922592;
}

.valuebox .bi.bi {
  color: #922592 !important;
  font-size: 100px !important;
}

.valuebox .value-box-area .value-box-title {
  font-size: 20px !important;
  color: #922592;
  font-weight: bold;
}

// REMOVE ERROR BOX WHEN NULL VALUE
.observablehq--error {
  display: none;
}
