/*-- scss:defaults --*/
// Base document colors
$link-color: #255b92;

// Code blocks
$code-block-bg-alpha: -.8;

$callout-color-note: #922592;

// Logo size
.navbar-logo {
  min-height: 50px;
}

// Adjusting dashboard display
.quarto-card {
          padding: 0;
          border: none !important;
        }
        
// tabsets
.panel-tabset .nav-item {
  font-size: 16px;
  border: none !important;
}

// value boxes
.valuebox .value-box-value {
  font-size: 20px !important;
  color: #922592;
}

.valuebox .bi.bi {
  color: #922592 !important;
}

.valuebox .value-box-area .value-box-title {
  font-size: 20px !important;
  color: #922592;
  font-weight: bold;
}

